header {
	background-color: #00AFFF;
	color: #fff;
}


main p {
	font-size: 18px;
	line-height: 1;
	margin-bottom: 20px;
}

.card:hover {
	transform: scale(1.05);
  }

input:invalid {
	border-color: red;
}

input:valid {
	border-color: green;
}

.highlight {
	border: 1px solid yellow;
  }
  
  .error {
	color: red;
  }
  
  .hidden {
	display: none;
  }
  
  .has-feedback {
	border: 2px solid green;
  }
  