/* Definição de estilos para o corpo da página */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Definição de estilos para o cabeçalho da página */

header {
	background-color: #00AFFF;
	color: #ffffff;
	padding: 60px;
	text-align: center
}

header h1 {
	float: left;
	margin: 0;
	font-size: 36px;
}

nav {
	float: right;
	margin-top: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 30px;
}

nav li:first-child {
	margin-left: 0;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	transition: color 0.2s ease;
}

nav a:hover {
	color: #FCA311;
}

/* Definição de estilos para a seção principal da página */

main {
	padding: 40px;
	text-align: left;
}

main p {
	font-size: 20px;
	line-height: 1;
	margin-bottom: 20px;
}

/* Definição de estilos para container com as cidades */

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.box {
	flex: 1;
	margin-bottom: 20px;
	text-align: center;
	background-color: #ffffff;
	padding: 20px;
}

.box img {
	width: 200px;
	height: auto;
	margin-bottom: 5px;
}

.box p{
	font-size: 16px;
	margin: 0;
}

.box h1{
	margin: 0px;
}

/* Definição de estilos para o rodapé da página */

footer {
	background-color: #00AFFF;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 14px;
}

footer p {
	margin: 0;
}

/* Definição de estilos para os botões de registro e login */

nav a.btn {
	background-color: #FCA311;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

nav a.btn:hover {
	background-color: #fff;
	color: #FCA311;
}

/* Definição de estilos para os links do menu de navegação quando selecionados */

nav a.selected {
	color: #FCA311;
	border-bottom: 3px solid #FCA311;
}

